altgraph==0.17.4
et-xmlfile==1.1.0
importlib_metadata==7.1.0
Nuitka==2.2
numpy==1.24.4
openpyxl==3.1.2
ordered-set==4.1.0
packaging==24.0
pandas==2.0.3
pefile==2023.2.7
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqtgraph==0.13.3
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
six==1.16.0
tzdata==2024.1
zipp==3.18.1
zstandard==0.22.0
